* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--White);
}

body {
    width: 100%;
    background-color: var(--Black);
}

:root {
    --Black: rgb(0, 0, 0);
    --White: rgb(255, 255, 255);
    --Neon-Green: hsl(150, 100%, 66%);
    --White-Smoke : #f1f1f1;
    --Tangerine-Yellow : rgb(255, 204, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-size: 16px;
}

.left-section {
  display: flex;
  align-items: center;
}

/* General logo container */
.logo {
    font-family: 'Comic Neue';
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.1em;

    text-decoration: none;

    display: flex;
    align-items: center;

    margin-right: 20px;
  }
  
  /* Main title styling */
  .logo span {
    font-size: 24px; /* Adjust for the logo's importance */
    color: white;
  }
  
  /* Sub-title styling */
  .subtitle {
    font-size: 16px;
    color: black   ; /* Softer gray for distinction */

    border: 1px solid white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: white;
  }
  
  
  /* Add responsive scaling for smaller screens */
  @media (max-width: 768px) {
    .logo span {
      font-size: 20px;
    }
    .subtitle {
      font-size: 14px;
    }
  }

.navigate-btn {
  text-decoration: none;
    padding: 0.7em;
    cursor: pointer;
    transform: background-color 0.3s,
        color 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
}

.navigate-btn:hover {
  background-color: var(--White);
  color: var(--Black);
  border-radius: 30px;
  box-shadow: 0px 0px 30px var(--White-Smoke);
}

.right-section {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn-container {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

.btn-function {
    background-color: var(--Black);
    color: var(--White);
    border-color: var(--White);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;

    font-size: 16px;
    padding: 0.7em;
    
    cursor: pointer; 

    transform: background-color 0.3s,
        box-shadow 0.3s;
}

.btn-function:hover {
    background-color: var(--White-Smoke);
    color: var(--Black);
    box-shadow: 0px 0px 30px var(--White-Smoke);
}
