* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--White);
}

body {
    width: 100%;
    background-color: var(--Black);
}

:root {
    --Black: rgb(0, 0, 0);
    --White: rgb(255, 255, 255);
    --Neon-Green: hsl(150, 100%, 66%);
    --White-Smoke : #f1f1f1;
    --Tangerine-Yellow : rgb(255, 204, 0);
}

header {
    display: flex;
    justify-content: center;

    padding: 20px;
}

.saved-quotes {
    color: var(--White);
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    max-width: 650px;
    width: 95%;
    
    display: flex;
    flex-direction: column;
}

/* Container for the image and spinner */
.image-container {
    position: relative; /* Make the container relative for absolute positioning of spinner */
    display: inline-block; /* Fit the image size */
}

.quote-image {
    width: 100%;

    transition: filter 0.3s ease; /* Smooth transition for filter changes */
}

.loading {
    filter: brightness(0.5); /* Darken the image */
}

/* Basic styling for the loading spinner */
.spinner {
    display: none; /* Hidden by default */
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute; /* Position absolute within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for spinner size */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.saved-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    opacity: 0;  /* Initially hidden */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.btn-container {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

.btn-function {
    background-color: var(--Black);
    color: var(--White);
    border-color: var(--White);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;

    font-size: 16px;
    padding: 0.7em;
    
    cursor: pointer; 

    transform: background-color 0.3s,
        border 0.3s;
        box-shadow: 0.3s;
}

.btn-function:hover {
    background-color: var(--White-Smoke);
    color: var(--Black);
    box-shadow: 0px 0px 30px var(--White-Smoke);
}
