{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title%}
    Random Quotes
{% endblock %}

{% block nav %}
    Saved Quotes
{% endblock %}

{% block main %}
    <div id="login-modal" class="modal hidden">
        <div class="modal-content">
            <div>You need to log in to save quotes. Do you want to log in now?</div>
            <div class="modal-btn-container">
                <button class="btn-function" id="login-button">Log in</button>
                <button class="btn-function" id ="cancel-button">Cancel</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-container" id="imageContainer" data-source="current">
            <img class="quote-image" id="quoteImage" src="{{ url_for('static', filename='images/quote_image.jpg') }}" alt="image with quote">
            <!-- Loading Spinner -->
            <div class="spinner" id="loadingSpinner"></div> 
            <div id="savedMessage" class="saved-message">Saved!</div>
        </div>

        <div class="btn-container">
            <div class="btn-function" id="previousButton">&laquo; Previous</div>
            <div class="btn-function" id="saveButton">Like & Save &#10084;</div>
            <div class="btn-function" id="nextButton">Next &raquo;</div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Link to javascript file -->
    <script src="/static/js/home.js"></script>
{% endblock %}