<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Link to Google font -->
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">

        <!-- Favicon -->
         <link rel="icon" href="/static/images/favicon.png">

        <!-- Link to general css file -->
        <link rel="stylesheet" href="/static/css/general.css">

        <!-- Link to specific css file -->
         {% block link %}{% endblock %}

        <title>Quote Generator: {% block title %}{% endblock %}</title>

    </head>
    
    <body>
        <nav>
            <div class="left-section">
                <a class="logo" href="/">
                    <span>QUOTE</span>
                    <div class="subtitle">Generator</div>
                </a>

                {% if session["user_id"] %}
                    <div class="navigate-btn" id="navigateButton">
                        {% block nav %}{% endblock %}
                    </div>
                {% endif %}
            </div>

            {% if session["user_id"] %}
                <a class="navigate-btn" href="/logout">Log Out</a>
            {% else %}
                <div class="right-section">
                    <a class="navigate-btn" href="/register">Register</a>
                    <a class="navigate-btn" href="/login">Log in</a>
                </div>
            {% endif %}
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
        
        <main class="container">
            {% block main %}{% endblock %}
        </main>

        {% if session["user_id"] %}
            <!-- Link to layout javascript file -->
            <script src="/static/js/dashboard.js"></script>
        {% endif %}

        <!-- Link to specific javascript file -->
        {% block script %}{% endblock %}
    </body>

</html>