<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Link to general css file -->
        <link rel="stylesheet" href="/static/css/general.css">

        <!-- Link to specific css file -->
         {% block link %}{% endblock %}

        <title>Quote Generator: {% block title %}{% endblock %}</title>

    </head>
    
    <body>
        <header>
            <div class="saved-quotes btn-function" id="savedQuotes">Saved Quotes</div>
        </header>
        
        <main class="container">
            {% block main %}{% endblock %}
        </main>

        <!-- Link to layout javascript file -->
         <script src="/static/js/dashboard.js"></script>

        <!-- Link to specific javascript file -->
        {% block script %}{% endblock %}
    </body>

</html>