{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="../static/css/saved-quotes.css">
{% endblock %}

{% block title %}
    Saved Quotes
{% endblock %}

{% block header %}
    Generate Quotes
{% endblock %}

{% block main %}
    {% if saved_quotes %}
        <div class="saved-quotes-container">
            {% for quote in saved_quotes %}
                <div class="saved-quote" data-image-id="{{ quote.image_id }}">
                    <img class="quote-image" src="{{ quote.image_path }}" alt="Image">
                    <button class="remove-button" data-image-id="{{ quote.image_id }}">
                        &#10084;
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No saved quotes yet.</p>
    {% endif %}
{% endblock %}